
<body>

    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->



    <!-------------------- Header Area (Start) -------------------->
    <header class="header">

        <!-- Logo -->
        <a class="logo" href="#home">
            <h2> QuantumWave </h2>
            <!-- <img src="~/images/logo.png" alt="logo" /> -->
        </a>
        <!-- Logo End -->

        <!-- Navbar -->
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true"></i>
                <a href="#home" style="margin-left: 10px;">Inicio</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                <a href="#about" style="margin-left: 10px;">sobre</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-gavel fa-lg" aria-hidden="true"></i>
                <a href="#service" style="margin-left: 10px;">Serviço</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-window-restore fa-lg" aria-hidden="true"></i>
                <a href="#portfolio" style="margin-left: 10px;">Portfolio</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                <a href="#testimonial" style="margin-left: 10px;">Depoimento</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                <a href="#blog" style="margin-left: 10px;">Noticias</a>
            </span>
            
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                <a href="#contact" style="margin-left: 10px;">Contato</a>
            </span>
            <div class="dropdown" style="position: relative; display: inline-block;">
                <span style="display: flex; align-items: center; margin-right: 20px;">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="/Usuario/Login" style="margin-left: 10px;">Area do Cliente</a>
                </span>
                <div class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%;">
                    <a href="/Usuario/Index" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>
                        Usuarios
                    </a>
                    <a href="/Agendamento/Index" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento Admin
                    </a>
                    <a href="/Agendamento/GerenciamentoUser" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento User
                    </a>
                    <a href="/Agendamento/CadastroAgendamento" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-check" aria-hidden="true" style="margin-right: 8px;"></i>
                        Cadastro Agendamento
                    </a>
                    <a href="#logout" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-file" aria-hidden="true" style="margin-right: 8px;"></i>
                        Relatórios
                    </a>
                    <a href="/Servico/Index" style="color: #0f9921; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-cog" aria-hidden="true" style="margin-right: 8px;"></i>
                        Serviços
                    </a>
                </div>
</div>
           
        </nav>

        <!-- Menubar -->
        <div class="fas fa-bars" id="menu-btn"></div>

    </header>
    <!-------------------- Header Area (End) -------------------->



    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>BEM VINDOS</h1>
                        <h1>QUANTUMWAVE <span class="typing-text"></span></h1>
                        <p> Com uma trajetória de 6 anos no mercado, somos uma equipe de desenvolvedores web criativos e
                            experientes.
                            Oferecemos soluções web de alto impacto para diversas organizações.
                            Nossa expertise abrange desde design e desenvolvimento até estratégias de marketing digital.
                            Seja para criar um site inovador, otimizar a experiência do usuário ou impulsionar a
                            presença online,
                            estamos prontos para enfrentar os desafios e entregar resultados excepcionais</p>
                        <a href="#about" class="btn">Nossa História <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/quantumwave_logo_green12.png" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->



    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/About/HISTORIA.png" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Nossa História </h2>
                <p>A Jornada da Nossa Empresa de Desenvolvimento Web
                    Há seis anos, um grupo de visionários apaixonados por tecnologia se uniu para fundar nossa empresa
                    de desenvolvimento web. Nossa missão? Transformar ideias em realidade digital, proporcionando
                    soluções inovadoras e impactantes para nossos clientes.

                    O Início: Construindo as Bases
                    Na época, a internet ainda estava em sua infância, e o desenvolvimento web era um campo repleto de
                    desafios. Mas estávamos determinados a superá-los. Começamos com o básico: domínio. Escolhemos um
                    nome que refletisse nossa visão e valores, e assim nasceu a nossa marca.

                    Em seguida, mergulhamos no mundo das VPS (Virtual Private Servers). Essas máquinas virtuais nos
                    permitiram hospedar sites e aplicativos de forma escalável e segura. Aprendemos a configurar,
                    otimizar e monitorar nossos servidores para garantir alta disponibilidade e desempenho excepcional.

                    Construindo Pontes: Rede e Segurança
                    A conectividade era essencial. Investimos em infraestrutura de rede robusta, criando uma teia de
                    comunicação que abrangia continentes. Implementamos protocolos de segurança, firewalls e
                    criptografia para proteger os dados de nossos clientes. Afinal, a confiança era a base de tudo.

                    Abrindo as Portas: Hospedagem de Sites
                    Nossos servidores se tornaram o lar de inúmeros sites. Oferecemos hospedagem de sites confiável e
                    escalável, garantindo que cada página carregasse rapidamente e estivesse sempre disponível. Nosso
                    suporte técnico atencioso ajudava os clientes a resolver qualquer problema, 24 horas por dia.

                    Alçando Voo: Marketing Digital
                    O mundo online estava em constante evolução, e sabíamos que apenas ter um site não era suficiente.
                    Assim, mergulhamos no Marketing Digital. Criamos campanhas de ADS (Anúncios) direcionadas,
                    otimizamos SEO e exploramos estratégias de mídia social. Aumentamos a visibilidade de nossos
                    clientes e impulsionamos seus negócios.

                    Construindo Experiências: Websites Personalizados
                    Por fim, nossa paixão estava em criar websites que cativassem os usuários. Desenvolvemos interfaces
                    intuitivas, designs atraentes e experiências fluidas. Cada projeto era único, moldado pelas
                    necessidades e objetivos de nossos clientes.

                    Hoje, olhamos para trás com orgulho. Nossa empresa cresceu, mas nossa paixão pelo desenvolvimento
                    web permanece a mesma. Continuamos a enfrentar desafios, aprimorar nossas habilidades e entregar
                    resultados excepcionais. Seja qual for o próximo capítulo, estamos prontos para escrevê-lo juntos.
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Anos de Mercado: <span>6</span></h4>
                        <h4>Gênero:<span> Todos</span></h4>
                        <h4>Idioma: <span>Português (Brasil), English & Español</span></h4>
                        <h4>Clientes: <span>Atendemos Toda Sul America</span></h4>
                        <a href="Certificado/Certificado_de_Excelencia_QuantumWave.pdf" class="btn">Certificado <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="6">6+</h1>
                            <h3>Anos de Prestação</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="1000">1000+</h1>
                            <h3>Projetos concluídos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="98">90+</h1>
                            <h3>Clientes satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="22">20+</h1>
                            <h3>Prêmios Conquistados</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Serviços <span>contratados</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Servidores VPS<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Registro de Domínios <span> 98% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Hospedagem de site<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Rede | Segurança (Cisco) <span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Web site | Templates | Designer<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Marketing Digital - ADS<span> 60% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->



    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minha <span>Qualificação</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2018</span>
                        <h3>Fundação da Empresa</h3>
                        <p>a fundação da QuantumWare em 2018 com o banco de dados ainda no brasil.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Websites</h3>
                        <p> A QuantumWare desenvolveu sites personalizados para seus clientes, oferecendo design
                            atraente, funcionalidade e otimização para mecanismos de busca (SEO).</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Domínios</h3>
                        <p>A QuantumWare escolheu um nome de domínio forte e memorável para representar sua marca no
                            mundo digital. O domínio escolhido foi “quantumware.com”.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020</span>
                        <h3>VPS (Servidor Virtual Privado)</h3>
                        <p>A empresa investiu em infraestrutura de servidores virtuais para hospedar seus serviços e
                            aplicativos. Isso permitiu maior flexibilidade, escalabilidade e controle sobre os recursos
                            computacionais.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2021</span>
                        <h3>Rede e Segurança:</h3>
                        <p>A QuantumWare estabeleceu uma rede robusta e segura para proteger seus dados e garantir a
                            confidencialidade das informações dos clientes. Isso incluiu firewalls, criptografia e
                            monitoramento constante.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2021 - 2024</span>
                        <h3>Marketing Digital - ADS</h3>
                        <p>A QuantumWare investiu em estratégias de marketing digital, incluindo anúncios pagos (ADS) em
                            plataformas como Google Ads e redes sociais. Isso ajudou a atrair tráfego qualificado para o
                            site da empresa.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->



    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Nossos <span>Serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fas fa-code"></i>
                <h3>web Site </h3>
                <p>Um site é a vitrine online da sua empresa. Ele pode ser informativo,
                    um blog, uma loja virtual ou qualquer outra coisa.
                    A criação e manutenção de um site envolvem design,
                    desenvolvimento, conteúdo e otimização.</p>
            </div>

            <div class="service-item">
                <i class="fa fa-cloud" aria-hidden="true"></i>
                <h3>Hospedagem de Site</h3>
                <p>A hospedagem de site envolve armazenar os arquivos do seu site em servidores
                    para que ele possa ser acessado na internet. Existem diferentes tipos de
                    hospedagem, como compartilhada, VPS e dedicada.

                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <h3>Rede e Segurança | Proteção DDoS</h3>
                <p>A infraestrutura de rede e segurança é crucial para proteger seus dados e garantir a disponibilidade
                    dos serviços. Isso inclui firewalls, VPNs, monitoramento de tráfego e políticas de acesso.

                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-bullhorn"></i>
                <h3>Marketing Digital - ADS</h3>
                <p>O marketing digital por meio de anúncios (ADS) envolve a criação e gerenciamento
                    de campanhas pagas em plataformas como Google Ads, Facebook Ads
                    e Instagram Ads. Isso ajuda a atrair tráfego para o seu site.

                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-server" aria-hidden="true"></i>
                <h3>VPS (Servidor Virtual Privado)</h3>
                <p>Um VPS é uma máquina virtual que funciona como um servidor dedicado, mas compartilha recursos físicos
                    com outros VPSs. É uma opção escalável e flexível para hospedar sites, aplicativos e serviços
                    online.

                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-registered" aria-hidden="true"></i>
                <h3>Registro de Domínio</h3>
                <p>Um domínio é o endereço exclusivo de um site na internet. Ele serve como a identidade online da sua
                    empresa ou projeto. Escolher um bom domínio é fundamental para a visibilidade e credibilidade do seu
                    site.</p>
                <a href="caminho-da-outra-pagina.html" button type="button">Clique aqui</button></a>

            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->



    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Meu <span>portfólio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos</li>
                <li class="button btn" data-filter="web">WebSite</li>
                <li class="button btn" data-filter="design">Marketing Digital</li>
                <li class="button btn" data-filter="photography">Proteção DDoS</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/hospedagem.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>hospedagem Site</h4>
                        <p>hospedar</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/website.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/registro.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Dominio</h4>
                        <p>Registro</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/registro.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/ads.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Google ADS</h4>
                        <p>Marketing</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/ads.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/website.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>WebSite</h4>
                        <p>Crie seu Site</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/website.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/vps.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>VPS</h4>
                        <p>Marquina Virtual</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/vps.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/rede.png" />
                    <div class="content">
                        <h4>Rede e Proteção</h4>
                        <p>Anti DDoS</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/rede.png
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->



    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos de Clientes</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Maria.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “Adquirir um domínio com a QUANTUMWAVE foi uma escolha acertada.
                        O processo foi simples e rápido, e o suporte técnico sempre esteve disponível
                        para esclarecer minhas dúvidas.”
                    </p>

                    <div class="intro">
                        <h3>Maria Silva</h3>
                        <h5>Domínio</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pedro.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “Minha experiência com o VPS da QUANTUMWAVE tem sido excelente.
                        A estabilidade e a velocidade são impressionantes, e o painel de controle
                        é muito fácil de usar.”
                    </p>

                    <div class="intro">
                        <h3>Pedro Santos</h3>
                        <h5>VPS</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/ana.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “A equipe de segurança da QUANTUMWAVE é altamente competente.
                        Eles mantêm nossos dados protegidos e monitoram constantemente
                        qualquer atividade suspeita.”
                    </p>

                    <div class="intro">
                        <h3>Ana Oliveira</h3>
                        <h5>Rede e Segurança</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/rafael.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “A hospedagem de site da QUANTUMWAVE é confiável e rápida.
                        Meu site nunca ficou fora do ar, e o suporte técnico
                        sempre resolve qualquer problema rapidamente.”
                    </p>

                    <div class="intro">
                        <h3>Rafael Costa</h3>
                        <h5>Hospedagem de Site</h5>
                    </div>
                </div>


                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/carolina.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “Os anúncios que criamos com a ajuda da QUANTUMWAVE tiveram um impacto
                        significativo em nosso tráfego e conversões. Recomendo!”
                    </p>

                    <div class="intro">
                        <h3>Carolina Rodrigues</h3>
                        <h5>Marketing Digital - ADS</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/Lucas.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        “A QUANTUMWAVE desenvolveu nosso site com profissionalismo e
                        criatividade. Estamos muito satisfeitos com o resultado.”
                    </p>

                    <div class="intro">
                        <h3>Lucas Ferreira</h3>
                        <h5>Websites</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->



    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Minhas <span>Notícias</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/PRIMEIRA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18 de Abril de 2024 às 12h08</span></h5>
                            <h5><i class="fas fa-user"></i><span>Ricardo Syozi</span></h5>
                        </div>
                        <a class="main-heading"
                            href="#">“O Domínio .br completa 35 anos!</a>
                        <p>Nesta quinta-feira, o domínio .br celebra 35 anos de relevância na internet brasileira e
                            mundial
                        </p>
                        <a href="https://canaltech.com.br/internet/dominio-br-35-anos-conheca-a-historia-e-curiosidades-286191/" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/SEGUNDA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>19 de Julho de 2024 às 02h</span></h5>
                            <h5><i class="fas fa-user"></i><span>Wendel Flop</span></h5>
                        </div>
                        <a class="main-heading"
                            href="#">Servidores
                            Virtuais Privados (VPS): O Guia Definitivo</a>
                        <p>Descubra como os VPS podem melhorar o desempenho, escalabilidade e controle do seu site.
                        </p>
                        <a href="https://overbr.com.br/dicas/servidores-virtuais-privados-vps-o-guia-definitivo" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/TERCEIRA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>16 de Maio de 2024 às 02h</span></h5>
                            <h5><i class="fas fa-user"></i><span>TRISTAN GREENE</span></h5>
                        </div>
                        <a class="main-heading"
                            href="#">Harvard
                            constrói rede quântica à prova de hackers</a>
                        <p>Cientistas da Universidade Harvard criaram uma rede de comunicações quânticas
                            segura usando cabos de fibra óptica existentes.
                        </p>
                        <a href="https://br.cointelegraph.com/news/harvard-hacker-proof-quantum-network-existing-fiber-cable" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/QUARTA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>22 de Outubro de 2021 às 22h40</span></h5>
                            <h5><i class="fas fa-user"></i><span> Márcio Padrão</span></h5>
                        </div>
                        <a class="main-heading"
                            href="#">Empresas
                            brasileiras investem na presença digital durante a pandemia</a>
                        <p>Pesquisa da HostGator revela que 58% dos negócios passaram a investir online,
                            com 64% percebendo aumento nas vendas.
                        </p>
                        <a href="https://canaltech.com.br/empreendedorismo/quase-60-dos-negocios-investiram-na-presenca-digital-na-pandemia-diz-estudo-199655/" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/QUINTA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>03 de Dezembro de 2018 às 20h43</span></h5>
                            <h5><i class="fas fa-user"></i><span> QUANTUMWAVE</span></h5>
                        </div>
                        <a class="main-heading" href="#">O Canva oferece milhares de
                            belos templates gratuitos</a>
                        <p>Você pode personalizar facilmente esses modelos com o recurso de arrastar e soltar.
                        </p>
                        <a href="https://www.canva.com/templates/" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/SEXTA.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>19 de Julho de 2021 às 11h37</span></h5>
                            <h5><i class="fas fa-user"></i><span>E-ecommerce</span></h5>
                        </div>
                        <a class="main-heading"
                            href="#">Empresas
                            enfrentam desafios para alcançar metas de marketing em 2023</a>
                        <p>RD Station relata que 75% das empresas não atingiram suas metas.
                        </p>
                        <a href="https://www.ecommercebrasil.com.br/noticias/75-das-empresas-nao-alcancaram-suas-metas-de-marketing-em-2023-aponta-pesquisa-da-rd-station" class="btn">Acessar <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->



    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Nossos </span> Contatos</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Entre em contato</h3>

                <p> Utilize nossos canais de Atendimento</p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+55 (61) 9999-1234</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+55 (61) 9876-5678</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">contato@quantumwave.com.br</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">suporte@quantumwave.com.br</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/QuantumWare</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/QUANTUMWAVE</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="Nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="Email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="Assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="Olá! Como posso ajudar você hoje?"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Enviar</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>
    <!---------------- Custom Script ---------------->

    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Registro de Domínio', 'VPS ADVANCE', 'Rede e Segurança', 'Marketing Digital ADS', 'Hospedagem de Site', 'WebSite'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
<script>
    // Script to handle the dropdown functionality
    document.querySelector('.dropdown').addEventListener('mouseover', function () {
        this.querySelector('.dropdown-content').style.display = 'block';
    });

    document.querySelector('.dropdown').addEventListener('mouseout', function () {
        this.querySelector('.dropdown-content').style.display = 'none';
    });
</script>

</body>

